/*font-family: 'Kalam', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Asap', sans-serif;
#c4a5de*/


html {
    font-size: 62.5%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #bdab8c;
}
.top-half{
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.marquee{
    width: 100%;
    float: right;
    margin-bottom: 1rem;
    border-bottom: .3rem solid #5b5345;   
    box-shadow: 0 .4rem 3rem #303415;
}
.title-image {
    position: absolute;
    width: 47%;
    transform: translateX(27vw);
    z-index: 10;
}
.cover-img {
    position: absolute;
    width: 100%;
    height: 110%;
    top: 0;
    left: 0;
}
h3 {
    font-family: 'Asap', sans-serif;
    font-size: 6rem;
    position: absolute;
    z-index: 9;
    transform: translate(30vw,-63vh);
    opacity: .3;
}
@keyframes fadeout {
    20% {
        opacity: .8;
    }
    40% {
        opacity: .6;
    }
    60% {
        opacity: .4;
    }
    80% {
        opacity: .2;
    }
    
    100% {
        opacity: .01; 
    }
}


/*====================================================================================*/
/*==========================    FILL PORTIONS     ====================================*/
/*====================================================================================*/

/* GUESS FILL      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.scroll {
    display: flex;
    height: 15vh;
    width: 97%;
    justify-content: center;
    align-self: center;
    /* border: .1rem solid #9a9a9a; */
    background: transparent;
}
.scroll-fill {
    font-family: 'Inknut Antiqua', serif;
    width: 90%;
    text-align: center;
    position: absolute;
    font-size: 900%;
    line-height: 80%;
    color: #f9f9f9;
    text-shadow: 0 0 1.2rem rgba(0,0,0, 1);
}


/* LETTERS CALLED  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.inner-fill {
    font-family: 'Asap', sans-serif;
    font-size: 650%;
    color: #7c7c7c;
    line-height: 80%;
    text-align: center;
    margin-bottom: 2rem;
}


/*====================================================================================*/
/*==========================    LOWER PORTION     ====================================*/
/*====================================================================================*/

/* LOWER CONTAINER ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.lower-half {
    font-family: 'Asap', sans-serif;
    display: flex;
    flex-direction: row;
    flex-basis: 110rem;
    height: 43vh;
    flex-wrap: nowrap;
    padding: 1rem;
    z-index: 1;
}
.btn {
    color:  #303415;
    font-size: 1.8rem;
    position: absolute;
    padding: 1.5rem 1rem;
    border-radius: 4rem;
    border: .1rem solid  #303415;
    background: transparent;
    transform: translateY(27vh);
    transition: background .7s;
}
.btn:hover {
    box-shadow: 0 0 1.2rem rgba(0,0,0, 1);
    cursor: pointer;
}
.btn:active {
    opacity: .5;
}

/* LOWER LEFT      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.left {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 20%;
    border: .1rem solid #9a9a9a;
    background: #c8c8c8;
    border-radius: 1rem;
    padding: 2rem;
    order: -1;  
}

.box-stat {
    width: 100%;
    height: 60%;
}
.left ul {
    display: inline;
    margin: 0;
    list-style: none;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: #303415;
}
.stat-list {
    height: 60%;
    width: 70%;
    margin-right: 2rem;
}
.stats {
    float: right;
    margin-right: 2rem;
}
.easy {
    background: rgba(52, 219, 152, .4);
    margin-right: 4rem;
}
.easy:hover {
    
    background: rgba(52, 219, 152, .8);
}
.hard {
    background: #db349866;
    transform: translate(10vw, 27vh);
}
.hard:hover {
    background: rgba(219, 52, 152, .8);
}

/* LOWER MIDDLE    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.middle {
    display: flex;
    flex: 4 0 50%;
    padding: 2rem 2rem;
    border: .1rem solid #9a9a9a;
    background: #f9f9f9;
    border-radius: 1rem;   
    justify-content: space-between;
}
.letter-pick {
    font-family: 'Special Elite', cursive;
    display: inline;
    margin: 0;
    font-size: 2500%;
    transform: translateY(-4vh);
    line-height: 120%;
    color: #f9f9f9;
    text-shadow: 0 0 2rem #010;
}
.question {
    font-family: 'Asap', sans-serif;
    width: 66%;
    font-size: 3rem;
    color: #000;
    float: right;
    align-self: center;
}
h6 {
    font-size: 1.5rem;
    color: #f84354;
    font-weight: 700;
    position: absolute;
    transform: translateX(17vw);
}
.log {
    display: none;
}
/* LOWER RIGHT   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.right {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 20%;
    padding: 2rem;
    border: .1rem solid #9a9a9a;
    background: #c8c8c8;
    border-radius: 1rem;
}
.right-text {
    font-size: 2rem;
    line-height: 3rem;
    color: #303415;
}
.reset-hint {
    transform: translate(5vw, 27vh);
    background: rgba(216, 219, 52, 0.4);
}
.reset-hint:hover {
    background: rgba(216, 219, 52, 0.8);
}


/*====================================================================================*/
/*==========================    MEDIA QUERIES     ====================================*/
/*====================================================================================*/

@media all and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    .scroll-fill {
        font-size: 700%;
        text-align: center;
    }
    .lower-half{
        flex-wrap: wrap;
    }
    .inner-fill{
        font-size: 550%;
        text-align: center;
    }
    .middle {
        min-width: 26%;
        order: 1;
    }
    .left {
        order: 0;
        flex-wrap: nowrap;
    }
    .right {
        order: 2;
        height: 100%;
    }
    .reset-hint {
        transform: translate(3vw, 36vh);
    }
    .top-half {
        flex-basis: 5rem;
    }
    h3 {
        font-size: 5rem;
    }
    .cover-img {
        width: 150%;
        height: 175%;
    }
}

@media all and (max-width: 980px){
    body {
        overflow-x: hidden;
    }
    .left {
        flex-basis: 40%;
        order: 1;
    }
    .easy {
        transform: translate(-1rem, 27vh)
    }
    .hard {
        transform: translate(11rem, 27vh)
    }
    .right{
       flex-basis: 40%;
    }
    .reset-hint {
        transform: translate(15vw, 27vh);
    }
    .middle  {
        flex-basis: 95%;
        order: 0
    }
    h3 {
        font-size: 4rem;
    }
    .cover-img {
        width: 150%;
        height: 175%;
    }
}

@media all and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .scroll-fill {
        font-size: 550%
    }
    .middle {
        order: 0;
    }
    .left {
        order: 1;
        flex-wrap: wrap;
    }
    .right {
        order: 1;
    }
    .top-half {
        flex-basis: 5rem;
    }
     h3 {
        font-size: 3rem;
    }
    h6 {
        transform: translateX(30vw);
    }
    .cover-img {
        width: 200%;
        height: 150%;
    }
}
@media all and (max-width: 640px){
    body {
        overflow-x: hidden;
    }
    .scroll-fill {
        font-size: 600%;
        transform: translateY(3vh)
    }
    .inner-fill {
        font-size: 400%;
    }
    .question {
        font-size: 2.5rem;
    }
    .reset-hint {
        transform: translateY(33vh);
    }
     h3 {
        font-size: 3rem;
    }
     .cover-img {
        width: 300%;
        height: 230%;
    }
}
@media all and (max-width: 480px){
    body {
        overflow-x: hidden;
    }
    .scroll-fill {
        font-size: 400%
    }
    .inner-fill {
        font-size: 300%;
    }
    .middle {
        flex-basis: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .letter-pick {
        font-size: 2500%;
    }
    .question {
        font-size: 2rem;
    }
    .left {
        flex-basis: 80%;
        height: 100%;
    }
    h3 {
        font-size: 2rem;
        opacity: .5
    }
    h6 {
        transform: translate(30vw, -3vh);
    }
     .cover-img {
        width: 500%;
        height: 230%;
    }
}
@media all and (max-width: 360px) {
    body {
        overflow-x: hidden;
    }
    .scroll-fill {
        font-size: 300%
    }
    .inner-fill {
        font-size: 200%;
    }
     .letter-pick {
        font-size: 1800%;
    }
    .cover-img {
        width: 500%;
        height: 230%;
    }
}